.add-to-basket {

  display: flex;
  margin-bottom: 30px;
  margin-top: 50px;
  cursor: pointer;


  @media (max-width: $screen-xs-s) and (min-width: $screen-xs) {
    max-width: 260px;
    margin: 30px auto;
    flex-direction: column;
  }


  &__btn {
    width: 260px;
    margin-right: 20px;
    padding: 18px 0;
    font-size: $font-size-md;
    font-weight: $font-weight-bd;
    background-color: $gray-ultimate;
    color: $gray-light-ultimate;
    border: none;
    outline: none;
    cursor: pointer;
    transition: $transition-base;

    &:hover {
      background-color: $gray-base-light;
      transition: $transition-base;
    }

    @media (max-width: $screen-xs-s) and (min-width: $screen-xs) {
     order: 2;
   }
 }


 &__goods-in-basket {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  font-size: $font-size-md;
  font-weight: $font-weight-md;
  color: $gray-dark-md;
  background-color: $gray-dark-s;
}


&__goods-in-basket__unit {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: $font-size-md;
  font-weight: $font-weight-md;
  color: $gray-dark-md;
}
}
