.feedback-form {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $screen-xs) {
    flex-direction: column;
  }


  &__mail {
    width: 30%;
    border: none;
    outline: none;
    margin-right: 35px;
    border-bottom: 5px solid $gray-light;
    background-color: inherit;
    transition: $transition-base;


    &:hover {
      border-color: $rose-dark;
      transition: $transition-base;
    }


    @media (min-width: $screen-xs) and (max-width: $screen-sm) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }


    &::placeholder {
      position: relative;
      color: $gray-base-light;
      font-size: $font-size-md;
    }


    &:focus::placeholder {
      color: $rose-dark;
    }
  }


  &__message {
    width: 30%;
    border: none;
    outline: none;
    margin-right: 35px;
    border-bottom: 5px solid $gray-light;
    background-color: inherit;
    transition: $transition-base;

    &:hover {
      border-color: $rose-dark;
      transition: $transition-base;
    }


    @media (min-width: $screen-xs) and (max-width: $screen-sm) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }

    &:required:invalid {
      border-color: $error-color;
    }

    &::placeholder {
      position: relative;
      color: $gray-base-light;
      font-size: $font-size-md;
    }

    &:focus::placeholder {
      color: $rose-dark;
    }
  }


  &__submit {
    width: 30%;
    margin-top: 30px;
    padding: 15px 0;
    border: none;
    outline: none;
    font-size: $font-size-md;
    font-weight: $font-weight-bd;
    color: $gray-light-ultimate;
    background-color: $gray-ultimate;
    cursor: pointer;
    transition: $transition-base;

    &:hover {
      background-color: $rose-dark;
      transition: $transition-base;
    }

    @media (min-width: $screen-xs) and (max-width: $screen-sm) {
      order: 1;
      width: 360px;
      font-size: ($font-size-md) - 2;
    }

    @media (max-width: $screen-xs) {
      width: 100%;
    }
  }

  &__checkbox {
    margin-top: 20px;
  }

  &__real-checkbox {
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
  }

  &__custom-checkbox {
    position: relative;
    z-index: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    border: 4px solid $gray-light;
    transition: $transition-base;
    cursor: pointer;


    // &:hover {
    //   border-color: $rose-dark;
    //   transition: $transition-base;
    // }

    &:after {

    }
  }

  &__checkbox-label {
    font-weight: $font-weight-md;
    opacity: 0.7;
    cursor: pointer;
  }

  &__privacy-policy {
  }

  &__data-processing-rules {
  }
}
