.new-books {
  position: relative;
  width: 100%;
  margin-top: 90px;

  &__background {
    background-color: $rose-base;
    position: absolute;
    width: 100%;
    height: 495px;
    bottom: 0;
    z-index: -3;
  }

  &__inner {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 60px 80px 60px;
    overflow-x: auto;


    @media (max-width: $screen-sm) {
      max-width: $screen-sm;
      padding: 0 30px 80px;
    }

    @media (max-width: $screen-xs) {
      max-width: $screen-xs;
      padding: 0 10px 80px;
    }
  }

  &__title {
    font-size: $font-size-bg-x;
    font-weight: $font-weight-bd;
    color: $gray-ultimate;
  }

  &__all {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 38px;
    font-size: $font-size-md;
    font-weight: $font-weight-md;
    color: $link-color;


    @media (max-width: 490px) and (min-width: 320px) {
      display: block;
      bottom: 15px;
      font-size: $font-size;
    }

    &:hover {
      color: $link-color-hover;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }
}

