.new-book-card {
  display: flex;
  flex-direction: column;
  margin-right: 40px;

  &__inner {
    display: inherit;
    flex-direction: inherit;
  }

  &__title {
    font-size: $font-size-bg;
    font-weight: $font-weight-bd;
    color: $gray-ultimate;
  }

  &__img-wrap {
   order: -1;
   width: 260px;
   height: 370px;
 }

 &__img {
  max-width: 100%;
  height: auto;
}

&__descr {
  margin-top: 0;
  font-size: $font-size-md;
  line-height: $line-height;
  font-style: italic;
  color: $gray-ultimate;
}
}
