.page-header {

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 16px;
    padding: 0 60px;
  }

  &__left {
  }

  &__working-hours {
    margin-left: 33px;
    font-size: $font-size;
    color: $gray-base;
  }

  &__right {
    display: flex;
  }

  &__icons {
  }

  &__basket-link {
    margin-right: 24px;
  }

  &__basket-img {
  }

  &__phone-link {
  }

  &__phone-img {
    padding-bottom: 3px;
  }
}

