.page-footer {

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 16px;
    padding: 18px 60px;
  }

  &__left {
  }

  &__right {
    display: flex;
  }
}



