.pagination-list {
  display: flex;
  max-width: 225px;
  padding: 0;
  list-style: none;

  &__item {
    margin-right: 21px;
  }

  &__link {
    position: relative;
    font-size: $font-size-md;
    font-weight: $font-weight-bd;
    color: $gray-ultimate;

    &:before {
      content: "";
      position: absolute;
      left: -11px;
      bottom: -7px;
      z-index: -5;
      display: none;
      background-color: $rose-base;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    &:hover:before {
      display: block;
    }
  }
}

