.product-card-mini {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(25% - 30px);
  padding: 0 15px;
  margin-bottom: 73px;
  cursor: pointer;


  @media (min-width: $screen-xs) and (max-width: $screen-md) {
    width: 260px;
    margin-bottom: 45px;
    padding: 0 15px;
  }

  &__title {
    font-size: ($font-size-bg) - 2;
    font-weight: $font-weight-bd;
    color: $gray-ultimate;


    @media (max-width: $screen-xs) {
      font-size: $font-size-md-x;
      line-height: $line-height-md;
    }
  }

  &__img-wrap {
    order: -1;
    transition: $transition-base;

    &:hover {
      box-shadow: 0 10px 40px 10px rgba(239, 82, 159, 0.2);
      transition: $transition-base;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__descr {
    margin-top: 0;
    font-size: $font-size-md;
    line-height: $line-height;
    font-style: italic;
    color: $gray-ultimate;
  }

  &__price {
    position: absolute;
    bottom: -15px;
    font-size: $font-size-md;
    font-weight: $font-weight-bd;
    color: $gray-ultimate;
    transition: $transition-base;

    &:hover {
      color: $rose-bright;
      transition: $transition-base;
    }
  }
}

