.promo {
  width: 100%;
  margin-top: 50px;

  &__inner {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 60px;


    @media (max-width: $screen-sm) {
      max-width: $screen-sm;
      padding: 0 30px;
    }

    @media (min-width: $screen-xs) and (max-width: $screen-xs-s) {
      padding: 0 10px;
    }
  }
}

