.promo-library {

    width: 100%;
    margin-top: 45px;
    background-image: url("");

    &__inner {
        max-width: 1280px;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 60px;
    }

    &__title {
    }

    &__info {
    }
}
