
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
  }
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;

  [dir='rtl'] & {
    float: right;
  }

  &.slick-loading img {
    display: none;
  }

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}

.slick-prev {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 50%;
  font-size: 0;
  left: 0;
  border: none;
  outline: none;
  background-image: url(../img/slider_previous.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $rose-base;
  border-radius: 50%;
  cursor: pointer;
  transition: $transition-base;


  @media (min-width: $screen-xs-s) and (max-width: $screen-sm) {
    left:-5%;
  }


  @media (min-width: $screen-xs) and (max-width: $screen-xs-s) {
    top: 106%;
    left: 30%;
  }


  &:hover {
   background-image: url(../img/slider_previous-white.png);
   background-repeat: no-repeat;
   background-position: center;
   background-color: $rose-bright;
   transition: $transition-base;
   transform: rotate(180deg);
 }
}


.slick-next {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 50%;
  right: 0;
  font-size: 0;
  border: none;
  outline: none;
  background-image: url(../img/slider_next.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $rose-base;
  border-radius: 50%;
  cursor: pointer;
  transition: $transition-base;


  @media (min-width: $screen-xs-s) and (max-width: $screen-sm) {
    right:-5%;
  }

  @media (min-width: $screen-xs) and (max-width: $screen-xs-s) {
    top: 106%;
    right: 30%;
  }


  &:hover {
    background-image: url(../img/slider_next-white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $rose-bright;
    transition: $transition-base;
    transform: rotate(180deg);
  }
}
