.slider {
  position: relative;

  &__item {
    display: flex;
    justify-content: center;
  }

  &__item-descr {
    margin-right: 14%;
  }

  &__item-news {
    position: relative;
    bottom: 15px;
    margin-top: 0;
    padding-left: 30px;
    font-size: $font-size-md;
    font-weight: $font-weight;
    line-height: 24px;
    font-style: italic;
  }

  &__item-descr-wrap {
    position: relative;
    content: "";
    max-width: 500px;
    border: 8px solid $gray-light;
    padding: 0 0 45px 30px;
  }

  &__item-announce {
    width: max-content;
    font-size: $font-size-lg;
    font-weight: $font-weight-bd;
  }

  &__item-more-about {
    font-size: $font-size-md;
    font-weight: $font-weight-md;
    color: $link-color;
  }

  &__item-img-wrap {
    width: 302px;
    height: 434px;
    margin-right: 80px;
  }

  &__item-img {
    width: 100%;
  }
}


.slider-btn {
  position: absolute;
  top: 45%;
  cursor: pointer;
  color: transparent;
  background: transparent;
  border: none;
  outline: none;
}

.slider-btn-previous{

  @extend .slider-btn

  &:before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    background-image: url(../img/slider_previous.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $rose-base;
    border-radius: 50%;
    transition: $transition-base;
  }
}

&__previous:hover:before {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  background-image: url(../img/slider_previous-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $rose-bright;
  border-radius: 50%;
  transform: rotate(180deg);
  transition: $transition-base;
}

&__next {
  left: 95%;
}

&__next:before {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  background-image: url(../img/slider_next.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $rose-base;
  border-radius: 50%;
  transition: $transition-base;
}

&__next:hover:before {
  content: "";
  position: absolute;
  width: 42px;
  height: 42px;
  background-image: url(../img/slider_next-white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $rose-bright;
  border-radius: 50%;
  transform: rotate(180deg);
  transition: $transition-base;
}

}
.sm-hidden {
}

.md-hidden {
}
