.slider {
  position: relative;

  &__item {
    display: flex;
    justify-content: center;
  }

  &__item-descr {
    margin-right: 13%;


    @media (max-width: $screen-md) {
      width: 100%;
      margin-right: 0;
    }
  }

  &__item-news {
    position: relative;
    bottom: 15px;
    margin-top: 0;
    padding-left: 30px;
    font-size: $font-size-md;
    font-weight: $font-weight;
    line-height: 24px;
    font-style: italic;


    @media (max-width: $screen-sm) {
      padding-left: 0;
    }

    @media (min-width: $screen-xs) and (max-width: $screen-xs-s) {
      font-size: $font-size;
      padding-left: 0;
      padding-right: 10px;
    }
  }

  &__item-descr-wrap {
    content: "";
    position: relative;
    max-width: 500px;
    margin: 0;
    padding: 0 0 45px 30px;
    border: 8px solid $gray-light;


    @media (max-width: $screen-sm) {

    }

    @media (min-width: $screen-xs) and (max-width: $screen-xs-s) {
      padding: 40px 0 25px 9px;
    }
  }

  &__item-announce {
    position: relative;
    z-index: 5;
    width: 515px;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
    font-weight: $font-weight-bd;



    @media (min-width: $screen-xs-s) and (max-width: $screen-sm) {
      width: 370px;
      font-size: $font-size-md-x;
      line-height: $line-height-md;
    }

    @media (min-width: $screen-xs) and (max-width: $screen-xs-s) {
      width: fit-content;
      margin-top: 0;
      font-size: $font-size-md-x;
      line-height: $line-height-md;
    }
  }

  &__item-more-about {
    font-size: $font-size-md;
    font-weight: $font-weight-md;
    color: $link-color;


    @media (max-width: $screen-xs) {
      font-size: $font-size;
    }
  }

  &__item-img-wrap {
    width: 302px;
    height: 423px;
    // margin-right: 80px;


    @media (max-width: $screen-md) {
      display: none;
    }
  }

  &__item-img {
    width: 300px;
    height: auto;
  }
}



