.slider {
  position: relative;

  &__item {
    display: flex;
    justify-content: center;
  }

  &__item-descr {
    margin-right: 14%;
  }

  &__item-news {
    position: relative;
    bottom: 15px;
    margin-top: 0;
    padding-left: 30px;
    font-size: $font-size-md;
    font-weight: $font-weight;
    line-height: 24px;
    font-style: italic;
  }

  &__item-descr-wrap {
    content: "";
    position: relative;
    max-width: 500px;
    border: 8px solid $gray-light;
    padding: 0 0 45px 30px;
  }

  &__item-announce {
    width: max-content;
    font-size: $font-size-lg;
    font-weight: $font-weight-bd;
  }

  &__item-more-about {
    font-size: $font-size-md;
    font-weight: $font-weight-md;
    color: $link-color;
  }

  &__item-img-wrap {
    width: 302px;
    height: 434px;
    margin-right: 80px;
  }

  &__item-img {
    width: 100%;
  }
}

.sm-hidden {
}
.md-hidden {
}

