.tabs-list {
  display: flex;
  margin: 0;
  list-style: none;
  overflow-x: auto;
  // padding-left: 3%;


  @media (max-width: $screen-md) and (min-width: $screen-xs) {
    // max-width: $screen-xs;
    padding-left: 0;
    padding-right: 0;
    // margin: 0;
    // padding-left: 25px;
  }

  &__item {
    padding-left: 10px;
    padding-right: 10px;

    &:not(:last-child) {
      // margin-right: 51px;
    }


    @media (max-width: $screen-xs-s) and (min-width: $screen-xs) {
      &:not(:last-child) {
        // margin-right: 15px;
      }
    }
  }

  &__link {
    position: relative;
    font-size: $font-size-md;
    font-weight: $font-weight-md;
    color: $gray-ultimate;
    transition: $transition-base;

    &:hover {
      color: $link-color;
      transition: $transition-base;
    }

    &:active:before {
      content: "";
      position: absolute;
      top: 30px;
      display: block;
      width: 30px;
      height: 3px;
      background-color: $rose-bright;
      transition: $transition-base;
    }

    @media (max-width: $screen-xs-s) and (min-width: $screen-xs) {
     font-size: $font-size;
   }
 }
}

.j-tabs {
}

