

.page-header {

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 16px;
  }

  &__icons {

  }
}


.working-hours {
  display: flex;
}


.page-header_right {
  display: flex;
}


.basket-icon-link {
  margin-right: 24px;
}


.phone-icon-img {
  padding-bottom: 3px;
}
