.tabs-wrap {
    background-color: $gray-light

    &__inner {
        max-width: 1160px;
        margin: 0 auto;
        padding: 25px 0 7px 0;
    }
}
.tabs {
    display: flex;
    margin: 0 0 0 40px;
    list-style: none;

    &__item {
    }

    &__link {
        font-size: $font-size-md;
        font-weight: $font-weight-md;
        color: $main-font-color;
        transition: 0.5s ease;


        &:hover {
            color: $link-color-hover;
        }

        &:hover:before {
            content: "";
            position: relative;
            top: 30px;
            display: block;
            width: 30px;
            height: 3px;
            background-color: $rose-bright;
            transition: 0.5s ease;
        }
    }
}
.j-tabs {
}
